<!--<!DOCTYPE html>-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<body>
<!-- Begin: Left Panel-->
<aside id="left-panel" class="left-panel" th:fragment="SidebarLecturer">
    <div id="sidebar" class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a th:href="@{/api/lecturer/home}" class="navbar-brand mx-4 mb-3">
                <img class = "logo-fit" src="/img/logo-cntt2021.png">
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="/img/user.png" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <span>Giảng Viên</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a th:href="@{/api/lecturer/home}" th:classappend="${#httpServletRequest.requestURI.startsWith('/api/lecturer/home') ? 'active' : ''}" class="nav-item nav-link">
                    <i class="fa fa-tachometer-alt me-2"></i>Trang của bạn
                </a>
                <a th:href="@{/api/lecturer/profile}" th:classappend="${#httpServletRequest.requestURI.startsWith('/api/lecturer/detail') ? 'active' : ''}" class="nav-item nav-link">
                    <i class="fa fa-th me-2"></i>Thông tin cá nhân
                </a>
                <a th:href="@{/api/lecturer/subject}" th:classappend="${#httpServletRequest.requestURI.startsWith('/api/lecturer/subject') ? 'active' : ''}" class="nav-item nav-link">
                    <i class="fa fa-table me-2"></i>Quản lý Đề tài
                </a>
                <a th:href="@{/api/lecturer/counterArgumentSubject}" th:classappend="${#httpServletRequest.requestURI.startsWith('/api/lecturer/counterArgumentSubject') ? 'active' : ''}" class="nav-item nav-link">
                    <i class="fa fa-table me-2"></i>DS Đề tài phản biện
                </a>
                <a th:href="@{/api/lecturer/subject/delete}" th:classappend="${#httpServletRequest.requestURI.startsWith('/api/lecturer/subject/delete') ? 'active' : ''}" class="nav-item nav-link">
                    <i class="fa fa-table me-2"></i>Đề tài bị xóa
                </a>
            </div>
        </nav>
    </div>
</aside>
<!-- /#left-panel -->
<script src="/assets/js/main.js"></script>
</body>
</html>