.home-table-register-student {
    width: 95%;
    margin-top: 30px;
    border: 1px solid rgb(164, 156, 156);
    margin-right: 30px;
    border-radius: 5px;

    .title-table {
        margin: 20px;
        border-bottom: #4eb09b;
        color: #268f65;
        font-weight: bold;
    }

    .table {
        margin: 10px;
        padding: 20px;

        .button-res {
            border: 1px solid #4eb09b;
            border-radius: 5px;
            background-color: white;

            &:hover {
                background-color: #4eb09b;

                .text {
                    margin: 2px;
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }

    h4 {
        font-size: 24px;
        color: #333;
        margin-top: 30px;
    }

    a {
        color: #333;
        font-weight: bold;
    }

    color: #000;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.card {
    padding: 30px 40px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.btn-block {
    font-size: 1.2vw;
    width: 10vw;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer
}

.btn-block:hover {
    background-color: #43766C !important;
    color: white;
    font-weight: bold;
}

.tille-name-topic{
    background-color: #43766C;
    padding: 8px;
    color: white;
}

.content-name{
    font-weight: bold;
}
.items-content-topic{
    padding: 8px;
}