.homeData {
    height: 500px;
    width: 100%;

    .titleList {
        display: flex;
        .tableTitleList button {
            border: none;
            justify-content: flex-start;
            background-color: white;
            color: #4eb09b;
            font-size: medium;
            font-weight: bold;

            &:hover {
                color: #207563;
            }
        }
    }

    .title {
        margin-bottom: 30px;
    }

    .btnView {
        background-color: white;
        padding: 5px;
        margin-right: 20px;
        border: none;
        color: #4eb09b;

        &:hover {
            color: white;
            background-color: #4eb09b;
        }
    }

    .btnRestor{
        background-color: white;
        padding: 5px;
        margin-right: 20px;
        border: none;
        color: #4eb09b;

        &:hover {
            color: white;
            background-color: #4eb09b;
        }
    }

    .btnDelete {
        background-color: white;
        padding: 5px;
        border: none;
        color: #f28076;

        &:hover {
            color: white;
            background-color: #f28076;
        }
    }

    .customHeader {
        background-color: #f0f0f0;
        color: #333;
        font-weight: bold;
    }

    .MuiDataGrid-cell:focus,
    .MuiDataGrid-cell:focus-within {
        outline: none !important;
        border-color: transparent !important;
    }

    .confirmation {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;

        .btnSuccess {
            margin-right: 10px;
            cursor: pointer;
            background-color: #18846c;
            color: #fff;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
        }

        .btnCancel {
            margin-right: 10px;
            cursor: pointer;
            background-color: #ec2b48;
            color: #fff;
            border: none;
            padding: 8px 15px;
            border-radius: 5px;
        }
    }

    .confirmation p {
        margin-bottom: 10px;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .view-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        pointer-events: auto;
    }

    .view-form h3 {
        margin-bottom: 20px;
    }

    .view-form p {
        margin-bottom: 10px;
    }

    .view-form button {
        cursor: pointer;
        background-color: #4eb09b;
        color: #fff;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
    }
}
