.datatable-lec{
    border-radius: 5px;
}

.body-table-lecturer{
    margin: 16px;
}

.table-lecturer{
    border-radius: 5px;

    .content-table {
        padding: 16px;
    }
}

.note-required{
    color: red;
}