.datatable-lec{
    border: 1px solid rgb(130, 124, 124);
    border-radius: 5px;
}

.body-table-lecturer{
    margin: 16px;
}

.table-lecturer{
    border: 1px solid rgb(148, 141, 141);
    border-radius: 5px;

    .content-table {
        padding: 16px
    }
}