.homeHead{
    display: flex;
    .context{
        flex: 1;
        margin-left: 20px;
        .context-menu {
            .context-title{
                .title-re{
                    color: #4eb09b;
                    padding: 5px;
                }
            }
            .context-nd{
                .card-nd{
                    .selectTitle{
                        margin-top: 20px;
                        margin-left: 30px;
                    }
                    .dropdown{
                        .form-se{
                            .optionSe{
                                padding: 10px;
                            }
                        }
                    }
                }
            }

            .table-nd{
                .form-title{
                    display: flex;
                    margin: 10px;
                    font-size: large;
                    font-weight: bold;
                    color: #4eb09b;
                    width: 95%;
                    text-transform: uppercase;
                    .line {
                        flex-grow:10;
                        border: 1px solid #000;
                        margin-left: 10px;
                    }
                }
                .body-tableAss{
                    border: none;
                }
            }
        }
        
    }
}