.homeHead{
    display: flex;
    .context{
        flex: 6;

        .context-menu {
            .contaxt-title {
                .title-re {
                    position: relative;
    
                    h3 {
                        width: 260px;
                        height: 50px;
                        background-color: #4eb09b;
                        color: white;
                        align-items: center;
                        display: grid;
                        place-items: center;
                        margin: 2px;
                        padding: 3px;
                        transform: skew(-15deg);
                        box-shadow: 0 4px 8px rgba(145, 15, 15, 0.1);
    
                        &:after {
                            content: '';
                            position: absolute;
                            display: block;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: #4eb09b;
                        }
                    }
                }
            }
    
            .context-nd {
                margin-top: 20px;
                margin-right: 20px;
    
                .card-nd {
                    border: 1px solid rgb(187, 182, 182);
                    border-radius: 5px;
                    width: 95%;
                    height: 50%;
                    display: grid;
                    .table-items{
                        margin-left: 100px;
                        margin-right: 100px;
                    }

                    .title-major {
                        margin-top: 40px;
                        margin-left: 30px;
                        border-radius: 50px;
                        padding: 10px;
                    }
    
                    .dropdown {
                        border: 2px solid #4eb09b;
                        width: 50%;
                        margin-left: 30px;
                        margin-top: 10px;
                        border-radius: 50px;
                        margin-bottom: 20px;
                        padding: 10px;
                        
                        .form-se{
                           width: 100%;
                           border: none;
                           &:focus {
                            outline: none;
                          }
                        
                          &:focus::-ms-value {
                            background-color: transparent;
                          }
                        
                          option {
                            border: none;
                            padding:5px;
                          }
                        
                          option:checked {
                            border: none;
                            padding: 5px;
                          }
                        }
                    }
                }

                .title-nd {
                    margin: 20px;
                    font-size: larger;
                    font-weight: bold;
                }
                
                .form-title {
                    display: flex;
                    margin-bottom: 20px;
                    margin-right: 20px;
                    font-size: large;
                    font-weight: bold;
                    color: #4eb09b;
                    width: 95%;
                
                    .line {
                        flex-grow:10;
                        border: 1px solid #000;
                        
                    }
                    span {
                        margin-right: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}