.HomeStudent {
    display: flex;
}

.context {
    flex: 6;
    .widgets{
        .header-notification{
            .title{
                background-color: #4eb09b;
                padding: 10px;
                width: 20%;
                text-align: center;
                color: white;
                margin-bottom: 20px;
            }
        }
    }
}