.navbar {
    margin-top: 10px;
    height: 50px;
    min-width: 100%;
    display: flex;
    font-size: 18px;
    color: #555;

    .wrapper {
        width: 100%;
        margin-left: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search {
            display: flex;
            align-items: center;
            border: 1px solid rgb(219, 112, 147);
            border-radius: 50px;
            padding: 3px;

            .icon {
                color: rgb(205, 92, 92);
            }

            input {
                border: none;
                outline: none;
                background: transparent;
                padding: 3px;
                color: chocolate;

                &::placeholder {
                    font-size: 12px;
                    padding: 10px;
                    color: chocolate;
                    margin: 5px;
                }
            }
        }

        .items {
            display: flex;
            align-items: center;
            margin-right: 20px;

            .item {
                display: flex;
                align-items: center;
                margin: 20px;

                position: relative;

                .icon {
                    font-size: 30px;
                    color: darkcyan;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border-color: darkcyan;
                }


                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: 10px;

                }
            }

            .dropdown {
                margin-right: 30px;
            }
        }
    }
}

.dropdown-items {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}

.dropdown-items:hover,
.dropdown-items:focus {
    color: #1e2125;
    text-decoration: none;
    background-color: rgb(255,245,238);
    /* Màu nền khi hover */
}

.dropdown-items.active,
.dropdown-items:active {
    color: rgb(255,245,238);
    text-decoration: none;
    background-color: rgb(255,160,122);
    /* Màu nền khi active */
}

.link-profile {
    text-decoration: none;
}