.breadcrumb-menu {
    padding: 1vw;
    height: 60px;
    width: 90%;
    margin: 0 auto;
    /* Căn giữa theo chiều ngang */
    justify-content: center;
}

.list {
    width: 90%;
    margin: 0 auto;
    /* Căn giữa theo chiều ngang */
    justify-content: center;
    border: 1px solid rgb(183, 178, 178);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    .listHome {
        .listHomeLec {
            .search {
                display: flex;
                justify-content: flex-end;

                .filter {
                    margin-right: 30PX;

                    .h6 {
                        color: rgb(157, 150, 150);
                    }
                }

                .formSearch {
                    .h6 {
                        color: rgb(157, 150, 150);
                    }

                }
            }

            .cardContainer {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content:flex-start;
                .cardItem {
                    width: 23%;
                    margin-bottom: 20px;
                    text-align: center;
                    text-decoration: none;
                    .avatar {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .name {
                        font-weight: bold;
                    }

                    .major {
                        color: gray;
                    }
                }
            }
        }
    }
}