.homeLec{
    display: flex;

    .context{
        flex: 6;
        .title-pb-lec {
            width: fit-content;
            height: 50px;
            color: #4eb09b;
            align-items: center;
            display: grid;
            place-items: center;
            margin: 2px;
            padding: 3px;
        }
        .body-table{
            border: 1px solid rgb(142, 135, 135);
            border-radius: 5px;
            padding: 16px;
            margin-top: 20px;
            margin-right: 30px;
        }
    }
}