/*Board*/
.kanban-board {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: white;

    .column {
        border: none;
        background-color: rgb(219, 198, 198);
        text-align: center;
    }
}

.header-board {
    .btn-add {
        background-color: white;
        border: none;

        &:active {
            border: none;
        }

        &:hover {
            color: #2d99ae;
        }
    }
}

.button-add-task {
    border: none;
    background-color: white;

    &:hover {
        color: #156575;
    }
}

.draggable {
    background-color: lightblue;
    padding: 8px;
    margin-bottom: 8px;
    cursor: grab;
}

.draggable:hover {
    background-color: blue;
    color: white;
}

.droppable {
    background-color: lightgray;
    padding: 16px;
}

.dragging-over {
    border: 2px dashed blue;
}

.elter-error-no-topic {
    text-align: center;
    color: #FF6C22;
}

.content-comment {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Số dòng tối đa hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Cho phép xuống dòng nếu cần */
  }

  
.button-submitTopic {
    display: flex;
    justify-content: flex-end;
    .submit-report {
        padding: 8px;
        border-radius: 5px;
        border: none;
        background-color: #1572A1;
        color: white;
        margin-right: 16px;
    }

    .submit-button {
        padding: 8px;
        border-radius: 5px;
        border: none;
        background-color: #adabab;
        color: white;
        margin-right: 16px;
    }

    .submit-button.active{
        padding: 8px;
        border-radius: 5px;
        border: none;
        background-color: #1572A1;
        color: white;
    }
}

.draggable-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 8px;
}


.droppable-container {
    background-color: #f2f2f2;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 8px;
}

.draggable-item.is-dragging {
    opacity: 0.5;
}

.droppable-container.is-over {
    background-color: #e0f7fa;
}

/*Card*/
.modal-body {
    text-align: start;

    .lable-items {
        text-align: start;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;

        .btn-comment {
            border-radius: 5px;
            border: none;
            background-color: #2d99ae;
            color: aliceblue;
            padding: 5px;

            &:hover {
                background-color: #156575;
            }
        }
    }


    .comment-items {
        border: none;

        .comment-item {
            padding: 10px;
            border: 1px solid rgb(215, 206, 206);
            border-radius: 5px;
            margin-bottom: 5px;

            .header-comment {
                justify-content: space-between;
                display: flex;

                .name-post {
                    font-weight: bold;
                    color: #2d99ae;
                }

            }
        }

        .navbar-comment {
            margin-bottom: 20px;
        }

    }
}

.info-modal {
    display: flex;
    justify-content: space-between;

    .lable-items {
        color: #156575;
        margin: 10px;

        .name-label {
            color: black;
            padding-left: 10px;

            .name {
                margin-left: 10px;
                font-weight: medium;
            }
        }
    }
}

.list-button {
    display: flex;
    justify-content: space-between;
}

.card-items {
    background-color: white;
    margin: 0 20px 10px 20px;
    padding: 16px;

    .dropdown {
        display: flex;
        justify-content: space-between;
    }
}


//Column
.column-task {
    background: #edefef;
    flex: 1;
    margin: 10px;

    .title-column {
        text-align: center;
        padding: 16px;
    }
}


.column {
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
  }
  
  .draggable-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 8px;
  }
  
  .draggable-item.is-dragging {
    opacity: 0.5;
  }
  
  .droppable-container {
    background-color: #f2f2f2;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 8px;
  }
  
  .droppable-container.is-over {
    background-color: #e0f7fa;
  }
  

/* Căn chỉnh flex cho nav-tabs để các tab nằm ngang */
.nav-tabs {
    display: flex;
    border-bottom: 2px solid transparent; /* Đặt border-bottom mặc định là transparent */
}

/* Căn chỉnh các item trong nav-tabs */
.nav-item {
    flex: 1; /* Các item chiếm đều không gian có sẵn */
    text-align: center; /* Căn giữa nội dung của các item */
}

/* Căn chỉnh cho các nút tab */
.nav-link-list {
    background-color: white;
    display: block;
    width: 100%; /* Đảm bảo nút chiếm toàn bộ không gian của phần tử chứa */
    padding: 0.5rem 1rem; /* Padding tùy chỉnh để có không gian cho nội dung */
    text-decoration: none; /* Loại bỏ gạch chân mặc định */
    color: #555; /* Màu chữ mặc định */
    font-weight: bold;
    border: none; /* Loại bỏ border mặc định của nút */
    border-bottom: 2px solid transparent; /* Border-bottom mặc định là transparent */
}

.nav-link-list.active {
    border-bottom: 3px solid darkcyan; 
    color: darkcyan; 
}

/* Căn chỉnh khi hover để chỉ có border-bottom hiện lên */
.nav-link-list:hover {
    border-bottom: 2px solid darkcyan; /* Màu sắc của border-bottom khi hover */
    color: darkcyan; /* Màu chữ khi hover */
}

/* Loại bỏ border-bottom khi không được chọn hoặc không hover */
.nav-link-list:not(.active) {
    border-bottom: 2px solid transparent; /* Đảm bảo border-bottom là transparent khi không được chọn */
}
